<!DOCTYPE html>
<meta charset="utf-8">
<html>
<head>
  <!-- bower:css -->
  <!-- endbower -->
</head>
<body>
  <h1>MBTAVIZOMG</h1>
  <svg width="600" height="400" viewBox="0 0 100 100"></svg>
  <!-- bower:js -->
  <script src="client/bower_components/d3/d3.js"></script>
  <script src="client/bower_components/lodash/lodash.js"></script>
  <!-- endbower -->
  <script>
var data = {{data}};

var svg = d3.selectAll('svg'),
  stops = data.stops;

// Map colors
var colors = {
  'Green Line':       'green',
  'Red Line':         'red',
  'Orange Line':      'orange',
  'Blue Line':        'blue',
  'Mattapan Trolley': 'red'
};

var coords = 'spider';

var extent = (function(){
    var arr = _.chain(stops)
      .pluck(coords)
      .value();

    var x = _.chain(arr).pluck(0).value(),
      y = _.chain(arr).pluck(1).value();

    // TODO: aspect ratio
     return [
        [_.min(x), _.max(x)],
        [_.min(y), _.max(y)]
     ];
  })();

console.log(extent);

var scale = {
  x : d3.scale.linear().domain(extent[0]).range([0, 100]),
  y : d3.scale.linear().domain(extent[1]).range([0, 100])
}

function getX(stop){
  var coord = stop[coords] ? stop[coords][0] : 0;
  return scale.x(coord);
}

function getY(stop){
  var coord = stop[coords] ? stop[coords][1] : 0;
  return scale.y(coord);
}

function mouseover(stop){
  console.log(stop.parent_station_name, stop);
}

svg
  .selectAll('circle')
  .data(_.values(stops))
  .enter()
    .append('circle')
      .attr('cy', getY)
      .attr('cx', getX)
      .attr('r', 1)
      .style('fill', function(d){ return colors[d.route_name]; })
      .on('mouseover', mouseover);

svg
  .selectAll('line')
  .data(data.segments)
  .enter()
    .append('line')
      .attr('y1', function(d){ return getY(stops[d.start]); })
      .attr('x1', function(d){ return getX(stops[d.start]); })
      .attr('y2', function(d){ return getY(stops[d.end]); })
      .attr('x2', function(d){ return getX(stops[d.end]); })
      .style('stroke', function(d){ return colors[stops[d.start].route_name]; });

// Set up web socket
var ws = new WebSocket('{{socket}}');

ws.onopen = function(){
  console.log('Socket opened.');
};

ws.onemessage = function(message){
  console.log(message);
};

  </script>
</body>
</html>
